fastapi==0.110.0
uvicorn==0.29.0
python-dotenv==1.0.1
sqlalchemy==2.0.25
pymysql==1.1.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.22
email-validator==2.3.0
PyPDF2==3.0.1
reportlab==4.0.4
qrcode==8.2
pillow==10.1.0
pandas==2.2.0
openpyxl==3.1.5
python-dateutil==2.9.0
numpy==1.26.4
resend==2.0.0